* {
  margin: 0;
  padding: 0;
}

body {
  height: 500px;
  width: 500px;
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 239, 239);
}

form label {
  padding: 10px;
}

header,
footer {
  background-color: lightblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}