@media (min-width: 700px) {
  main div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  nav ul {
    display: flex;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  .btn-class {
    display: none;
  }
}